set editing-mode vi
set show-mode-in-prompt on

$if mode=vi
  set keymap vi-command
  "gg": beginning-of-history
  "G": end-of-history
  set keymap vi-insert
  "jj": vi-movement-mode
  "\C-p": history-search-backward
  #"\C-l": clear-screen
$endif

set blink-matching-paren on

$if Bash
  # Pressing space performs immediate history expansion
  Space: magic-space

  set completion-ignore-case on
  set completion-map-case on
  set completion-prefix-display-length 4
  set show-all-if-unmodified on

  set colored-stats on
  set visible-stats on
  # colored-completion-prefix available since readline-7.0 / bash-4.4
  set colored-completion-prefix on
$endif

# bash/readline's visual bell is buggy/unreliable especially over SSH
# connections.  I choose to enforce the default that bells send \a for bell,
# and I leave it to my terminal to decide whether to actually play an audible
# sound.  In Windows Terminal, for example, I set 'Settings > Profiles >
# Defaults > Advanced > Bell notification style' to "Flash window"
set bell-style audible

# Allow 8-bit input/output
set meta-flag on
set convert-meta off
set input-meta on
set output-meta on
